@import "../../styles/colors.scss";
.loginContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login {
    background-color: $orange;
    padding: 2rem;
    border-radius: 1rem;
    .inputRow {
      position: relative;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      &.active label {
        transform: translateY(0) scale(0.75);
      }
      input {
        background-color: transparent;
        transition: 0.4s;
        font-size: 1rem;
        border: 1px solid gray;
        border-radius: 1rem;
        padding: 1.4rem 0.5rem 0.2rem;
        &:focus + label {
          transform: translateY(0) scale(0.75);
        }
      }
      label {
        position: absolute;
        font-size: 1.2rem;
        transition: 0.4s;
        transform-origin: top left;
        transform: translateY(1rem) scale(1);
        padding: 0px 0.5rem;
      }
    }
    .loginBt {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0.5rem;
      background-color: $button-color;
      color: white;
      border: none;
      border-radius: 1rem;
    }
  }
}
